In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_hdf('data/train_preprocessed_v4.h5', low_memory = False)
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,weekday,hour,distance,JFK_distance,invalid
0,7.5,-73.978463,40.759072,-73.963577,40.774255,1,2014.0,9,6,15,1.719640,21.029044,0
1,6.5,-73.982397,40.770245,-73.972450,40.764062,1,2012.0,5,1,7,1.122217,21.940741,0
2,12.9,-74.006507,40.718808,-73.961096,40.760711,1,2009.0,5,2,20,5.210553,20.679895,0
3,20.1,-73.999242,40.734165,-73.972597,40.751228,2,2010.0,7,4,22,3.008668,21.891888,0
4,4.1,-73.977750,40.746274,-73.972760,40.755768,1,2010.0,8,2,13,0.626738,21.931951,0

In [3]:
df_test = pd.read_hdf('data/test_prepro_v4.h5', low_memory = False)
df_test.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,weekday,hour,distance,JFK_distance,invalid,key
0,-73.972484,40.742743,-73.918937,40.764496,1,2009.0,1,4,0,5.991612,16.117319,0,2009-01-01 00:01:04.0000003
1,-73.985850,40.722826,-73.986301,40.739347,1,2009.0,1,4,0,0.509264,23.237424,0,2009-01-01 00:01:26.0000001
2,-73.988917,40.740142,-73.982769,40.777291,1,2009.0,1,4,0,1.328903,23.142153,0,2009-01-01 00:04:42.0000001
3,-73.977163,40.764490,-73.914474,40.771575,1,2009.0,1,4,0,6.974103,15.690509,0,2009-01-01 00:04:54.0000001
4,-73.948849,40.778003,-73.977678,40.748692,2,2009.0,1,4,0,3.329684,19.450750,0,2009-01-01 00:04:59.0000004

In [4]:
df_test.drop(columns = ['passenger_count'], inplace = True)
df.drop(columns = ['passenger_count'], inplace = True)

In [5]:
def meet_fare(fare):
    if(fare < 2.5):
        return 2.5
    return fare
dis_vec = np.vectorize(meet_fare)
df['fare_amount'] = dis_vec(df.fare_amount)

In [5]:
from sklearn.model_selection import train_test_split
y = df['fare_amount']
X = df.drop(columns=['fare_amount'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [8]:
import lightgbm as lgb

params = {
        'learning_rate': 0.10,
        'application': 'regression',
        'max_depth': 5,
        'num_leaves': 30,
        'verbosity': -1,
        'metric': 'RMSE',
    }

In [9]:
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)
gbm = lgb.train(params,
                lgb_train,
                valid_sets=lgb_eval,
                num_boost_round=1000,
                early_stopping_rounds = 10)
gbm.save_model('model_lim_features.txt')

[1]	valid_0's rmse: 42.0801
Training until validation scores don't improve for 10 rounds
[2]	valid_0's rmse: 41.9536
[3]	valid_0's rmse: 41.8495
[4]	valid_0's rmse: 41.765
[5]	valid_0's rmse: 41.6954
[6]	valid_0's rmse: 41.6385
[7]	valid_0's rmse: 41.5913
[8]	valid_0's rmse: 41.5523
[9]	valid_0's rmse: 41.5201
[10]	valid_0's rmse: 41.4927
[11]	valid_0's rmse: 41.4709
[12]	valid_0's rmse: 41.453
[13]	valid_0's rmse: 41.4378
[14]	valid_0's rmse: 41.425
[15]	valid_0's rmse: 41.4139
[16]	valid_0's rmse: 41.4051
[17]	valid_0's rmse: 41.397
[18]	valid_0's rmse: 41.3902
[19]	valid_0's rmse: 41.3842
[20]	valid_0's rmse: 41.3788
[21]	valid_0's rmse: 41.3745
[22]	valid_0's rmse: 41.3706
[23]	valid_0's rmse: 41.3672
[24]	valid_0's rmse: 41.3632
[25]	valid_0's rmse: 41.3607
[26]	valid_0's rmse: 41.3583
[27]	valid_0's rmse: 41.3557
[28]	valid_0's rmse: 41.3539
[29]	valid_0's rmse: 41.3515
[30]	valid_0's rmse: 41.3495
[31]	valid_0's rmse: 41.3482
[32]	valid_0's rmse: 41.3459
[33]	valid_0's rmse: 41.3447
[34]	valid_0's rmse: 41.3432
[35]	valid_0's rmse: 41.3421
[36]	valid_0's rmse: 41.3397
[37]	valid_0's rmse: 41.3386
[38]	valid_0's rmse: 41.3375
[39]	valid_0's rmse: 41.3366
[40]	valid_0's rmse: 41.3355
[41]	valid_0's rmse: 41.3345
[42]	valid_0's rmse: 41.3333
[43]	valid_0's rmse: 41.3324
[44]	valid_0's rmse: 41.331
[45]	valid_0's rmse: 41.3298
[46]	valid_0's rmse: 41.3291
[47]	valid_0's rmse: 41.327
[48]	valid_0's rmse: 41.3262
[49]	valid_0's rmse: 41.3253
[50]	valid_0's rmse: 41.3245
[51]	valid_0's rmse: 41.324
[52]	valid_0's rmse: 41.3234
[53]	valid_0's rmse: 41.3231
[54]	valid_0's rmse: 41.3228
[55]	valid_0's rmse: 41.3223
[56]	valid_0's rmse: 41.3219
[57]	valid_0's rmse: 41.3215
[58]	valid_0's rmse: 41.3202
[59]	valid_0's rmse: 41.3199
[60]	valid_0's rmse: 41.3196
[61]	valid_0's rmse: 41.3185
[62]	valid_0's rmse: 41.3182
[63]	valid_0's rmse: 41.3177
[64]	valid_0's rmse: 41.3173
[65]	valid_0's rmse: 41.3169
[66]	valid_0's rmse: 41.3166
[67]	valid_0's rmse: 41.3154
[68]	valid_0's rmse: 41.3151
[69]	valid_0's rmse: 41.3148
[70]	valid_0's rmse: 41.3139
[71]	valid_0's rmse: 41.3136
[72]	valid_0's rmse: 41.3132
[73]	valid_0's rmse: 41.313
[74]	valid_0's rmse: 41.3128
[75]	valid_0's rmse: 41.3124
[76]	valid_0's rmse: 41.3123
[77]	valid_0's rmse: 41.312
[78]	valid_0's rmse: 41.3111
[79]	valid_0's rmse: 41.3102
[80]	valid_0's rmse: 41.3098
[81]	valid_0's rmse: 41.3091
[82]	valid_0's rmse: 41.3088
[83]	valid_0's rmse: 41.3085
[84]	valid_0's rmse: 41.3083
[85]	valid_0's rmse: 41.3082
[86]	valid_0's rmse: 41.3079
[87]	valid_0's rmse: 41.3077
[88]	valid_0's rmse: 41.3075
[89]	valid_0's rmse: 41.3072
[90]	valid_0's rmse: 41.307
[91]	valid_0's rmse: 41.3068
[92]	valid_0's rmse: 41.3062
[93]	valid_0's rmse: 41.306
[94]	valid_0's rmse: 41.3052
[95]	valid_0's rmse: 41.3049
[96]	valid_0's rmse: 41.3046
[97]	valid_0's rmse: 41.3044
[98]	valid_0's rmse: 41.3042
[99]	valid_0's rmse: 41.304
[100]	valid_0's rmse: 41.3038
[101]	valid_0's rmse: 41.3035
[102]	valid_0's rmse: 41.303
[103]	valid_0's rmse: 41.3029
[104]	valid_0's rmse: 41.3027
[105]	valid_0's rmse: 41.3025
[106]	valid_0's rmse: 41.3018
[107]	valid_0's rmse: 41.3016
[108]	valid_0's rmse: 41.3015
[109]	valid_0's rmse: 41.3009
[110]	valid_0's rmse: 41.3003
[111]	valid_0's rmse: 41.3002
[112]	valid_0's rmse: 41.3001
[113]	valid_0's rmse: 41.3
[114]	valid_0's rmse: 41.2999
[115]	valid_0's rmse: 41.2998
[116]	valid_0's rmse: 41.2995
[117]	valid_0's rmse: 41.2994
[118]	valid_0's rmse: 41.2993
[119]	valid_0's rmse: 41.2992
[120]	valid_0's rmse: 41.2989
[121]	valid_0's rmse: 41.2984
[122]	valid_0's rmse: 41.298
[123]	valid_0's rmse: 41.2979
[124]	valid_0's rmse: 41.2978
[125]	valid_0's rmse: 41.2974
[126]	valid_0's rmse: 41.2973
[127]	valid_0's rmse: 41.2971
[128]	valid_0's rmse: 41.297
[129]	valid_0's rmse: 41.2969
[130]	valid_0's rmse: 41.2968
[131]	valid_0's rmse: 41.2967
[132]	valid_0's rmse: 41.2966
[133]	valid_0's rmse: 41.2963
[134]	valid_0's rmse: 41.2963
[135]	valid_0's rmse: 41.296
[136]	valid_0's rmse: 41.2956
[137]	valid_0's rmse: 41.2954
[138]	valid_0's rmse: 41.2952
[139]	valid_0's rmse: 41.295
[140]	valid_0's rmse: 41.2949
[141]	valid_0's rmse: 41.2946
[142]	valid_0's rmse: 41.2944
[143]	valid_0's rmse: 41.2943
[144]	valid_0's rmse: 41.2942
[145]	valid_0's rmse: 41.2939
[146]	valid_0's rmse: 41.2937
[147]	valid_0's rmse: 41.2933
[148]	valid_0's rmse: 41.2932
[149]	valid_0's rmse: 41.2931
[150]	valid_0's rmse: 41.2929
[151]	valid_0's rmse: 41.2928
[152]	valid_0's rmse: 41.2927
[153]	valid_0's rmse: 41.2925
[154]	valid_0's rmse: 41.2924
[155]	valid_0's rmse: 41.2924
[156]	valid_0's rmse: 41.2923
[157]	valid_0's rmse: 41.2921
[158]	valid_0's rmse: 41.292
[159]	valid_0's rmse: 41.2919
[160]	valid_0's rmse: 41.2917
[161]	valid_0's rmse: 41.2917
[162]	valid_0's rmse: 41.2914
[163]	valid_0's rmse: 41.2913
[164]	valid_0's rmse: 41.2913
[165]	valid_0's rmse: 41.2912
[166]	valid_0's rmse: 41.2911
[167]	valid_0's rmse: 41.291
[168]	valid_0's rmse: 41.2908
[169]	valid_0's rmse: 41.2907
[170]	valid_0's rmse: 41.2907
[171]	valid_0's rmse: 41.2906
[172]	valid_0's rmse: 41.2906
[173]	valid_0's rmse: 41.2905
[174]	valid_0's rmse: 41.2904
[175]	valid_0's rmse: 41.2902
[176]	valid_0's rmse: 41.2902
[177]	valid_0's rmse: 41.2901
[178]	valid_0's rmse: 41.29
[179]	valid_0's rmse: 41.2899
[180]	valid_0's rmse: 41.2898
[181]	valid_0's rmse: 41.2896
[182]	valid_0's rmse: 41.2896
[183]	valid_0's rmse: 41.2895
[184]	valid_0's rmse: 41.2894
[185]	valid_0's rmse: 41.2894
[186]	valid_0's rmse: 41.2893
[187]	valid_0's rmse: 41.2892
[188]	valid_0's rmse: 41.2889
[189]	valid_0's rmse: 41.2886
[190]	valid_0's rmse: 41.2885
[191]	valid_0's rmse: 41.2885
[192]	valid_0's rmse: 41.2883
[193]	valid_0's rmse: 41.2882
[194]	valid_0's rmse: 41.288
[195]	valid_0's rmse: 41.288
[196]	valid_0's rmse: 41.2877
[197]	valid_0's rmse: 41.2877
[198]	valid_0's rmse: 41.2875
[199]	valid_0's rmse: 41.2874
[200]	valid_0's rmse: 41.2873
[201]	valid_0's rmse: 41.2872
[202]	valid_0's rmse: 41.2869
[203]	valid_0's rmse: 41.2868
[204]	valid_0's rmse: 41.2866
[205]	valid_0's rmse: 41.2865
[206]	valid_0's rmse: 41.2864
[207]	valid_0's rmse: 41.2863
[208]	valid_0's rmse: 41.2862
[209]	valid_0's rmse: 41.2862
[210]	valid_0's rmse: 41.2865
[211]	valid_0's rmse: 41.2864
[212]	valid_0's rmse: 41.2863
[213]	valid_0's rmse: 41.2863
[214]	valid_0's rmse: 41.2862
[215]	valid_0's rmse: 41.2862
[216]	valid_0's rmse: 41.2861
[217]	valid_0's rmse: 41.286
[218]	valid_0's rmse: 41.286
[219]	valid_0's rmse: 41.286
[220]	valid_0's rmse: 41.2859
[221]	valid_0's rmse: 41.2859
[222]	valid_0's rmse: 41.2858
[223]	valid_0's rmse: 41.2857
[224]	valid_0's rmse: 41.2857
[225]	valid_0's rmse: 41.2856
[226]	valid_0's rmse: 41.2856
[227]	valid_0's rmse: 41.2855
[228]	valid_0's rmse: 41.2855
[229]	valid_0's rmse: 41.2854
[230]	valid_0's rmse: 41.2852
[231]	valid_0's rmse: 41.2851
[232]	valid_0's rmse: 41.2851
[233]	valid_0's rmse: 41.285
[234]	valid_0's rmse: 41.285
[235]	valid_0's rmse: 41.2849
[236]	valid_0's rmse: 41.2848
[237]	valid_0's rmse: 41.2848
[238]	valid_0's rmse: 41.2848
[239]	valid_0's rmse: 41.2847
[240]	valid_0's rmse: 41.2847
[241]	valid_0's rmse: 41.2846
[242]	valid_0's rmse: 41.2846
[243]	valid_0's rmse: 41.2845
[244]	valid_0's rmse: 41.2843
[245]	valid_0's rmse: 41.2842
[246]	valid_0's rmse: 41.2842
[247]	valid_0's rmse: 41.284
[248]	valid_0's rmse: 41.2838
[249]	valid_0's rmse: 41.2838
[250]	valid_0's rmse: 41.2838
[251]	valid_0's rmse: 41.2838
[252]	valid_0's rmse: 41.2837
[253]	valid_0's rmse: 41.2836
[254]	valid_0's rmse: 41.2836
[255]	valid_0's rmse: 41.2843
[256]	valid_0's rmse: 41.2842
[257]	valid_0's rmse: 41.2842
[258]	valid_0's rmse: 41.2841
[259]	valid_0's rmse: 41.2841
[260]	valid_0's rmse: 41.2841
[261]	valid_0's rmse: 41.2851
[262]	valid_0's rmse: 41.285
[263]	valid_0's rmse: 41.285
[264]	valid_0's rmse: 41.2849
Early stopping, best iteration is:
[254]	valid_0's rmse: 41.2836

In [10]:
keys = df_test['key'] 
df_test.drop(columns = ['key'], inplace = True)
df_test.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,year,month,weekday,hour,distance,JFK_distance,invalid
0,-73.972484,40.742743,-73.918937,40.764496,2009.0,1,4,0,5.991612,16.117319,0
1,-73.985850,40.722826,-73.986301,40.739347,2009.0,1,4,0,0.509264,23.237424,0
2,-73.988917,40.740142,-73.982769,40.777291,2009.0,1,4,0,1.328903,23.142153,0
3,-73.977163,40.764490,-73.914474,40.771575,2009.0,1,4,0,6.974103,15.690509,0
4,-73.948849,40.778003,-73.977678,40.748692,2009.0,1,4,0,3.329684,19.450750,0

In [11]:
pred_fares = gbm.predict(df_test, num_iteration=gbm.best_iteration)
df_final = pd.DataFrame({'key':keys, 'fare_amount':pred_fares})

In [12]:
df_final.to_csv(r'predictions/lightgbm_withfeaures_v7.csv', index = False)